/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/* Base */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/*.row{
    border-style: solid;
    border-radius: 3px;
    
}

#colbg{
    border-style: solid;
    border-radius: 3px;
}*/

/* Header */
.header{
    background-color: #262626;
    border-bottom: 3px solid white;
    max-width: 100%;
}

/* Texto do Header */
.header h1.title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 50px;
}

/* Posicionamento da imagem */
/*.img-fluid{
    padding-top: 100px;
    padding-left: 25px;
}*/

/* Posicionamento do texto das seções */
h2.text{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    color: black;
}

/* Posicionamento do sub texto das seções */
p.sbtext{
    padding-left: 20px;
    font-size: 25px;
    color: black;
    word-wrap: break-word;
}
/* Posicionamento do texto dos footer */
h2.text2{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 700;
    font-style: bold;
    color: white;
}

/* Fonte da Navbar */
.navbar-nav a{
    font-family: 'Open Sans', sans-serif;
}

/* Seção 1 */
.section1{
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    background-color: rgb(57, 194, 187);
}

/* Seção 2 */
.section2{
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    background-color: rgb(57, 194, 187);
}

/* Seção 3 */
.section3{
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh - 350px;
    background-color: rgb(57, 194, 187);
}

/* Rodapé */
.footer{    height: 350px;
}

#colfooter{
    text-align: center;
    padding-top: 25px;
}

#rowfooter{
    padding-top: 5px;
    color: white;
}

#submitfooter{
    margin-top: 20px;
}

#socialfooter{
    margin-bottom: 20px;
}

#forminscricao{
    color: white;
    width: 70%;
    text-align: center;
    padding-left: 330px;
}