/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

/* Header */
.header{
    background-color: #262626;
    max-width: 100%;
}

.headerborder{
    width: 90%;
    background-color: white;
    height: 1px;
    margin-left: 5%;
}

/* Texto do Header */
.header h1.title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 50px;
}

/* Seção Home/Header */
.sectionhome{
    width: 100%;
    min-height: 91vh;
    max-height: 100vh - 9vh;
    background-image: url(../imagens/pingpong.jpg);
}

/* Seção 1 */
.section1{
    background-color: blue;
    width: 100%;
    min-height: 100vh;
}

/* Seção 2 */
.section2{
    background-color: blueviolet;
    width: 100%;
    min-height: 100vh;
}

/* Seção 3 */
.section3{
    background-color: crimson;
    width: 100%;
    min-height: 100vh;
}

/* Seção 4 */
.section4{
    width: 100%;
    max-height: 100vh;
}

#jumbo{
    margin-bottom: 0rem;
}

/* Posicionamento do texto dos footer */
h2.text2{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 700;
    font-style: bold;
    color: white;
}

/* Rodapé */
#formrow{
    max-width: 100%;
}

/* BTN START */
#submitbtn:hover{
    color: #007BFF;
    background-color: #FFF;
    transition: ease-in-out .5s;
}

#btnfooter{
    padding-bottom: 10px;
    padding-top: 5px;
    max-width: 100%;
}

#socialfooterface{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    color: #FFF;
    background-color: #3b5998;
    outline: none;
}

#socialfooterface:hover{
    color: #3b5998;
    background-color: #FFF;
    transition: ease-in-out .5s;
}

#socialfootertwitter{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    color: #FFF;
    background-color: #55acee;
    outline: none;
}

#socialfootertwitter:hover{
    color: #55acee;
    background-color: #FFF;
    transition: ease-in-out .5s;
}

#socialfooterinsta{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    color: #FFF;
    background-color: #dd2a7b;
    outline: none;
}

#socialfooterinsta:hover{
    color: #dd2a7b;
    background-color: #FFF;
    transition: ease-in-out .5s;
}

#socialfooteryoutube{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    color: #FFF;
    background-color: #ed302f;
    outline: none;
}

#socialfooteryoutube:hover{
    color: #ed302f;
    background-color: #FFF;
    transition: ease-in-out .5s;
}
/* BTN END */

#rowfooter{
    color: white;
    text-align: center;
    max-width: 100%;
}
#footertext{
    padding-top: 20px;
    color: white;
}

#footertext p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding-left: 15px;
    padding-bottom: 0px;
}

#footertext ul{
    list-style-type: none;
}

#footertext ul li{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding-left: 25px;
    padding-bottom: 0px;
}